<!-- This is the Base Page of All PAGES - Mudasir Ali -->
{% load static %}
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link
      rel="shortcut icon"
      href="{% static 'PICS/LOGOS/web-logo.jpg' %}"
      type="image/x-icon"
    />
    <!-- Title tag for Templates - Mudasir Ali -->
    <title>{% block title %} Challenge Accept {% endblock %}</title>

    <!-- CSS -->
    <link
      rel="stylesheet"
      href="https://fonts.googleapis.com/css?family=Merienda+One"
    />
    <link
      rel="stylesheet"
      href="https://fonts.googleapis.com/icon?family=Material+Icons"
    />
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.1/css/all.min.css"
    />
    <link
      rel="stylesheet"
      href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css"
    />

    <link rel="stylesheet" href="{% static 'CSS/Bulma/bulma.css' %}" />
    <link rel="stylesheet" href="{% static 'CSS/Navbar/Navbar.css' %}" />

    <!-- Tags to import custom CSS Files for PAGE - Mudasir Ali -->
    <link rel="stylesheet" href="{% block css_1 %} {% endblock %}" />
    <link rel="stylesheet" href="{% block css_2 %} {% endblock %}" />
    <link rel="stylesheet" href="{% block css_3 %} {% endblock %}" />
    <link rel="stylesheet" href="{% block css_4 %} {% endblock %}" />
    <link rel="stylesheet" href="{% block css_5 %} {% endblock %}" />

    <!-- For other types of import - Mudasir Ali -->
    {% block head %}
    
    {% endblock %}

  </head>
  <body>
    <!-- Header And Navigation Bar - Mudasir Ali -->
    <header>
      <nav class="navbar has-shadow is-dark">
        <div class="navbar-brand">
          <a href="{% url 'Index' %}" class="navbar-item">
            <img src="{% static 'PICS/LOGOS/web-logo.jpg' %}" alt="" style="max-height: 50px; border-radius: 50%;" />
          </a>
          <a
            role="button"
            class="navbar-burger"
            aria-label="menu"
            aria-expanded="false"
          >
            <span aria-hidden="true"></span>
            <span aria-hidden="true"></span>
            <span aria-hidden="true"></span>
          </a>
        </div>

        <div class="navbar-menu" id="nav-links">
          <div class="navbar-start">
            <div class="sign">
              <span class="fast-flicker">C</span>hall<span class="flicker">e</span>nge <span class="fast-flicker ml-1">A</span> <span class="flicker">cce</span>pt
            </div>
            <a
              href="{% url 'Index' %}"
              class="navbar-item {% block active_home %} {% endblock %}"
              >Home</a
            >
            <a
              href="{% url 'About' %}"
              class="navbar-item {% block active_about %} {% endblock %}"
              >About</a
            >
            <a
              href="{% url 'Contact' %}"
              class="navbar-item {% block active_contact %} {% endblock %}"
              >Contact</a
            >
          </div>
          <div class="navbar-end">
            <div class="navbar-item">
              {% if user.is_authenticated %}
              <div class="action">
                <div class="profile" onclick="menu();">
                  <img src="{% static 'PICS/User.jpg' %}" alt="" style="max-height: 80%;"  />
                </div>
                <div class="menu user-menu-hide" id="user-menu">
                  <h3>{{user.first_name}} {{user.last_name}}</h3>
                  <ul>
                    <li>
                      <a href=""
                        ><i class="fa fa-user-o"></i
                        ><a href="" class="pl-1"
                          >Profile</a
                        ></a
                      >
                    </li>
                    <li>
                      <a href="/accounts/logout/"
                        ><i class="material-icons">&#xE8AC;</i
                        ><a href="/accounts/logout/" class="pl-1">Logout</a></a
                      >
                    </li>
                  </ul>
                </div>
              </div>
              {% else %}
              <a href="{% url 'Signup' %}" class="button is-rounded is-danger"
                >Signup</a
              >
              <button
                onclick="openLoginForm()"
                class="button is-warning ml-2 is-rounded is-light"
                >Login</button
              >
              {% endif %}
            </div>
          </div>
        </div>
      </nav>
    </header>
    <!-- Navigation Bar END -->

    <!-- Messages to the User - Mudasir Ali -->
    {% if messages %}
        {% for message in messages %}
            <article class="message is-{{message.tags}}" id="my-message-box" style="max-width: 20rem; min-width: 15rem;">
            <div class="message-header">
                <p>Message</p>
                <button class="delete" id="delete-message" aria-label="delete"></button>
            </div>
            <div class="message-body">{{message}}</div>
            </article>
        {% endfor %}
    {% endif %}
    <!-- Message Bar END
     -->
<!-- User Login Model - Mudasir Ali -->
<div class="popup-overlay"></div>
<div class="popup-login">
  <div class="popup-close" onclick="closeLoginForm()">&times;</div>
  <div class="form">
    <div class="avatar">
      <img src="{% static 'PICS/User.jpg' %}" alt="" />
    </div>
    <div class="header">Login</div>
    <form action="{% url 'API_Login' %}" method="post">
      {% csrf_token %}
      {% if messages %}
      {% for message in messages %}
        <p style="text-align: center;">{{message}}</p>
      {% endfor %}
    {% endif %}
    <div class="element">
      <label for="username">Username</label>
      <input type="text" id="username" name="username" placeholder="You Username"/>
    </div>
    <div class="element">
      <label for="password">Password</label>
      <input type="password" id="password"  name="password" placeholder="Your Pasword" />
    </div>
    <div class="element">
      <button
        type="submit"
        class="button is-block is-info is-medium is-fullwidth"
      >
        Login <i class="fa fa-sign-in" aria-hidden="true"></i>
      </button>
    </div>
  </form>
  </div>
</div>

    <!-- Body tag for Pages - Mudasir Ali -->
    {% block body %}

    {% endblock %}

    <footer>
      <div id="bottom-div" class="ml-4 mb-3">
        <p id="down-p">&copy; challengeaccept.com All Rights Reserved.</p>
      </div>
    </footer>

    <!-- JAVASCRIPT for Navbar -->
    <script src="{% static 'JS/Navbar/Navbar.js' %}"></script>


    <!-- Tags to Import custom JavaScript Files - Mudasir Ali -->
    {% block script %}

    {% endblock %}

  </body>

</html>
