<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Navbar</title>
    <link rel="stylesheet" href="../Static/CSS/Bulma/bulma.css">
    <link rel="stylesheet" href="ghost_style.css">
  </head>
  <body>
    <header>
      <nav class="navbar has-shadow is-light">
        <div class="navbar-brand">
          <a href="{% url 'Index' %}" class="navbar-item">
            <img
              src="../Static/PICS/LOGOS/web-logo.jpg"
              alt=""
              id="nav-logo"
              style="max-height: 60px"
            />
          </a>
          <a
            role="button"
            class="navbar-burger"
            aria-label="menu"
            aria-expanded="false"
          >
            <span aria-hidden="true"></span>
            <span aria-hidden="true"></span>
            <span aria-hidden="true"></span>
          </a>
        </div>

        <div class="navbar-menu" id="nav-links">
          <div class="navbar-start">
            <a
              href="{% url 'Index' %}"
              class="navbar-item"
              >Home</a
            >
            <a
              href=""
              class="navbar-item"
              >About</a
            >
            <a
              href=""
              class="navbar-item"
              >Contact</a
            >
          </div>
          <div class="navbar-end">
            <div class="navbar-item">
              <a href="{% url 'Signup' %}" class="button is-success is-rounded"
                >Signup</a
              >
              <a
                href="{% url 'Login' %}"
                class="button is-warning ml-2 is-rounded"
                >Login</a
              >
            </div>
          </div>
        </div>
      </nav>
    </header>
  </body>
</html>
