@import url("https://fonts.googleapis.com/css2?family=IBM+Plex+Serif&family=Nunito+Sans:wght@400;600&display=swap");
@import url("https://fonts.googleapis.com/css?family=Codystar:300&display=swap");
.va {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

hr {
  background: #24272c;
}

.hero {
  background: #060606;
}

.title,
.subtitle {
  color: white;
}

.blog-posts {
  min-height: 100vh;
  background: #191b1f;
  padding-top: 4rem;
  padding-bottom: 10rem;
  font-family: "Nunito Sans", sans-serif;
  color: white;
}

.blog-posts a {
  color: #3b7adf;
}

.blog-posts a:hover {
  text-decoration: underline;
  color: #3b7adf;
}

.blog-posts article {
  padding: 1.5rem;
}

.blog-posts .post img {
  border-radius: 6px;
}

.blog-posts .post .post-category {
  color: #3b7adf;
}

.blog-posts .post .post-title {
  font-size: 2.2rem;
}

.blog-posts .post .post-excerpt {
  line-height: 1.5rem;
  letter-spacing: 0.03rem;
  font-size: 1.2rem;
  font-family: "IBM Plex Serif", serif;
  color: #92a3ab;
}

.blog-posts .post .featured .featured-image img {
  height: 380px;
}

#top {
  height: 70vh;
  padding: 10px 10px;
  font-family: "Source Sans Pro", sans-serif;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  background-image: url("/static/Videos/launch.gif");
  background-color: #191b1f;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.black-overlay {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  right: 0;
  background-color: #191b1f;
  opacity: 0.6;
}

#title-1 {
  margin: 0em 4em;
  line-height: 30px;
  color: #f3f0f0;
  z-index: 1;
}

#title-1 #title-1-heading-1 {
  font-size: 1rem;
  position: relative;
  left: -500px;
}

#title-1 #title-1-heading-2 {
  font-size: 1.5rem;
  position: relative;
  bottom: -500px;
}

#title-2 {
  margin: 4em 0.5em;
  width: 50%;
  z-index: 1;
  color: #f3f0f0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  opacity: 0;
}

#title-2 a {
  text-decoration: none;
  color: #007bff;
}

.neons {
  font-family: "Codystar";
}

.neons h1 {
  font-weight: bold;
  -webkit-animation: glow 2s ease-in-out infinite alternate;
  animation: glow 2s ease-in-out infinite alternate;
}

@-webkit-keyframes glow {
  from {
    color: #fff;
    text-shadow: 0 0 10px #00fff2, 0 0 20px #00fff2, 0 0 30px #00fff2, 0 0 40px #00fff2, 0 0 50px #00fff2, 0 0 60px #00fff2, 0 0 70px #00fff2, 0 0 90px #00fff2;
  }
  to {
    color: gray;
    text-shadow: 0 0 20px #00fff2, 0 0 30px #00fff2, 0 0 40px #00fff2, 0 0 50px #00fff2, 0 0 60px #00fff2, 0 0 70px #00fff2, 0 0 80px #00fff2, 0 1 90px #00fff2;
  }
}
/*# sourceMappingURL=Index.css.map */