.circle-img {
  border-radius: 50%;
}

.navbar {
  min-height: 4.25rem;
}

#my-message-box {
  position: fixed;
  bottom: 60px;
  right: 13px;
  z-index: 10;
}

.user-menu-hide {
  display: none;
}

#user-dropdown-t:hover {
  text-decoration: underline;
  cursor: pointer;
}

.action {
  position: absolute;
  top: 20px;
  right: 30px;
}
.action .profile {
  position: relative;
  width: 45px;
  height: 45px;
  border-radius: 50%;
  overflow: hidden;
  cursor: pointer;
}
.action .profile img {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.action .menu {
  position: absolute;
  top: 80px;
  right: -10px;
  padding: 10px 20px;
  background-color: #fff;
  width: 200px;
  box-sizing: 0 5px 25px rgba(0, 0, 0, 0.1);
  border-radius: 15px;
  transition: 0.5s;
}
.action .menu h3 {
  width: 30;
  text-align: center;
  font-size: 18px;
  padding: 20px 0;
  font-weight: 500;
  font-size: 15px;
  color: #555;
  line-height: 1.2em;
}
.action .menu::before {
  content: "";
  position: absolute;
  top: -5px;
  right: 28px;
  width: 20px;
  height: 20px;
  background-color: #fff;
  transform: rotate(45deg);
}
.action .menu ul li {
  list-style: none;
  padding: 10px 0;
  border-top: 1px solid rgba(0, 0, 0, 0.05);
  direction: flex;
}
.action .menu ul li a {
  display: inline-block;
  text-decoration: none;
  color: #555;
  font-weight: 500;
  transition: 0.5s;
}
.hide {
  display: none;
}
.active {
  display: block;
}

// Login Form CSS - Mudasir ALi
.center {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.popup-overlay {
  position: fixed;
  top: 0px;
  left: 0px;
  width: 100%;
  height: 100vh;
  z-index: 1;
  background: rgba(0, 0, 0, 0.5);
  display: none;
}
.popup-login {
  font-family: "Raleway";
  position: fixed;
  top: -150%;
  left: 50%;
  transform: translate(-50%, -50%) scale(1.15);
  width: 350px;
  height: 500px;
  background: #f5f5f5;
  z-index: 50;
  opacity: 0;
  box-shadow: 5px 5px 3px rgba(0, 0, 0, 0.2);
  transition: transform 300ms ease-in-out, opacity 300ms ease-in-out;
  border-radius: 10px;
}

body.showLoginForm .popup-overlay {
  display: block;
}

body.showLoginForm .popup-login {
  top: 50%;
  opacity: 1;
  transform: translate(-50%, -50%) scale(1);
}

.popup-login .popup-close {
  position: absolute;
  top: -10px;
  right: -10px;
  width: 40px;
  height: 40px;
  background: #555;
  color: #f5f5f5;
  font-size: 25px;
  font-weight: 600;
  text-align: center;
  border-radius: 50%;
  cursor: pointer;
}
.popup-login .form .avatar {
  margin: 30px 0px 20px;
  text-align: center;
}
.popup-login .form .avatar img {
  width: 120px;
  border-radius: 50%;
}
.popup-login .form .header {
  text-align: center;
  font-size: 20px;
  font-weight: 600;
  color: #222;
  margin: 20px 0px;
}
.popup-login .form .element {
  padding: 8px 20px;
}
.popup-login .form .element label {
  display: block;
  font-size: 14px;
  color: #222;
  margin-bottom: 5px;
}
.popup-login .form .element input {
  width: 100%;
  padding: 8px 10px;
  box-sizing: border-box;
  outline: none;
  border: 1px solid #aaa;
  background: #eee;
  border-radius: 5px;
}
.popup-login .form .element button {
  margin-top: 5px;
  width: 100%;
  padding: 10px 0px;
  text-transform: uppercase;
  outline: none;
  border: none;
  font-size: 15px;
  font-weight: 600;
  border-radius: 5px;
  cursor: pointer;
  background: #4889da;
  color: #f5f5f5;
}

// Login Form css END - Mudasir Ali

// This Style is for Glowing text in Navbar, CHALLENGE ACCEPT - Mudasir Ali
.sign {
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 50%;
  height: 50%;

  transform: translate(-50%, -50%);
  letter-spacing: 2;
  left: 50%;
  top: 50%;
  font-family: "Clip";
  text-transform: uppercase;
  font-size: 1em;
  color: #e26d6d;
  text-shadow: 0 0 0.6rem #f9d7d7, 0 0 1.5rem #ff6565,
    -0.2rem 0.1rem 1rem #ff6565, 0.2rem 0.1rem 1rem #ff6565,
    0 -0.5rem 2rem #ff2483, 0 0.5rem 3rem #ff2424;
  animation: shine 2s forwards, flicker 3s infinite;
}

@keyframes blink {
  0%,
  22%,
  36%,
  75% {
    color: #e26d6d;
    text-shadow: 0 0 0.6rem #f9d7d7, 0 0 1.5rem #ff6565,
      -0.2rem 0.1rem 1rem #ff6565, 0.2rem 0.1rem 1rem #ff6565,
      0 -0.5rem 2rem #ff2483, 0 0.5rem 3rem #ff2424;
  }
  28%,
  33% {
    color: #df3434;
    text-shadow: none;
  }
  82%,
  97% {
    color: #e41818;
    text-shadow: none;
  }
}

.flicker {
  animation: shine 2s forwards, blink 3s 2s infinite;
}

.fast-flicker {
  animation: shine 2s forwards, blink 10s 1s infinite;
}

@keyframes shine {
  0% {
    color: #6b1839;
    text-shadow: none;
  }
  100% {
    color: #ffe6ff;
    text-shadow: 0 0 0.6rem #f9d7d7, 0 0 1.5rem #ff6565,
      -0.2rem 0.1rem 1rem #ff6565, 0.2rem 0.1rem 1rem #ff6565,
      0 -0.5rem 2rem #ff2483, 0 0.5rem 3rem #ff2424;
  }
}

@keyframes flicker {
  from {
    opacity: 1;
  }

  4% {
    opacity: 0.9;
  }

  6% {
    opacity: 0.85;
  }

  8% {
    opacity: 0.95;
  }

  10% {
    opacity: 0.9;
  }

  11% {
    opacity: 0.922;
  }

  12% {
    opacity: 0.9;
  }

  14% {
    opacity: 0.95;
  }

  16% {
    opacity: 0.98;
  }

  17% {
    opacity: 0.9;
  }

  19% {
    opacity: 0.93;
  }

  20% {
    opacity: 0.99;
  }

  24% {
    opacity: 1;
  }

  26% {
    opacity: 0.94;
  }

  28% {
    opacity: 0.98;
  }

  37% {
    opacity: 0.93;
  }

  38% {
    opacity: 0.5;
  }

  39% {
    opacity: 0.96;
  }

  42% {
    opacity: 1;
  }

  44% {
    opacity: 0.97;
  }

  46% {
    opacity: 0.94;
  }

  56% {
    opacity: 0.9;
  }

  58% {
    opacity: 0.9;
  }

  60% {
    opacity: 0.99;
  }

  68% {
    opacity: 1;
  }

  70% {
    opacity: 0.9;
  }

  72% {
    opacity: 0.95;
  }

  93% {
    opacity: 0.93;
  }

  95% {
    opacity: 0.95;
  }

  97% {
    opacity: 0.93;
  }

  to {
    opacity: 1;
  }
}
// END

@media only screen and (max-width: 1022px) {
  .action {
    position: relative;
    top: 20px;
    right: 0px;
  }
  .action .menu {
    left: 0px;
  }
  .action .menu::before {
    left: 20px;
  }
  .sign {
    display: none;
  }
}
